MONITOR_API_BASE=
MONITOR_TOKEN=
ER_CONTROLLER_SSH_USERNAMES=["smartx","admin"]
ER_CONTROLLER_SSH_PASSWORD=

ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=deepseek-flash
ANTHROPIC_DEFAULT_OPUS_MODEL=deepseek-flash
ANTHROPIC_DEFAULT_SONNET_MODEL=deepseek-flash
ANTHROPIC_DEFAULT_HAIKU_MODEL=deepseek-flash

SLACK_BOT_TOKEN=
SLACK_APP_LEVEL_TOKEN=
SLACK_CHANNEL_IDS=
